---
layout: layout.liquid
title: Planetary Playing Cards
---

<main>
    <div class="module one">
        <div class="circle one">""</div>
        <h2> Sun
        <p> Type G2V
    </div>

    <div class="module two">
        <div class="planet one">""</div>
        <h3> Mercury
        <p> 0.387 AU
    </div>

    <div class="module six">
        <div class="planet five">""</div>
        <h3> Jupiter
        <p> 5.203 AU
    </div>

    <div class="module three">
        <div class="planet two">""</div>
        <h3> Venus
        <p> 0.723 AU
    </div>

    <div class="module seven">
        <div class="planet six">
        </div>
        <h3> Saturn
        <p> 9.582 AU
    </div>

    <div class="module four">
        <div class="planet three">""</div>
        <h3> Earth
        <p> 1.000 AU
    </div>
    
    <div class="module eight">
        <div class="planet seven">""</div>
        <h3> Uranus
        <p> 19.201 AU
    </div>

    <div class="module five">
        <div class="planet four">""</div>
        <h3> Mars
        <p> 1.524 AU
    </div>
    
    <div class="module nine">
        <div class="planet eight">""</div>
        <h3> Neptune
        <p> 30.047 AU
    </div>